body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
	margin-right: 10px;
		margin-left: 10px;
  }

h1 {
  font-size: 40px;
  font-weight: 300;
  letter-spacing: -2px;
  margin: .3em 0 .1em 0;
 /* background-color: red; */
 border-bottom-color:#ccc;  bottom:1px
}

#sandwich-heading  {  
	padding-bottom: 25px;

}

#sandwich-border {
	border-bottom: 1px solid #ccc;
	padding-top: 30px;
		margin-right: 50px;
}


#sandwich-overview  {
	/* border-bottom: 1px solid #ccc; */
	padding-bottom: 10px;
	margin-bottom: 10px;

}

#sandwich-overview  p {
		font-size: 18px;
}


#sandwich-overview  h2 {
	  font-size: 50px;
		/*color: #99FF33;  */
}

.row-top-buffer { margin-top:20px; }  /* Apparently, this is the best way to add a margin between rows in bootstrap */

pre {
	background-color: #FFFFFA;
}

.recipe-step-header  {
	  font-size: 25px;
	  padding-bottom:  10px;
}	

.recipe-step-body  {
	font-size: 16px;
}


/* ------ New Approach (without Boot Camp)   */

#container {
	width: 100%;
	margin: 0px;
}

.home_row {
	float: left;
	width: 100%;
	margin: 0;
}

.home_column1 {
	float: left;
	width:  50%;
	margin: 0;
	padding:  1em;
}

.home_column2 {
	margin-left:  50%;   /*  Change this to the width of my left column */
}

#sandwich_footer {
	clear: left;
}
